.bouquet-popup {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(197, 141, 145, 0.6);
  z-index: 100;
  overflow-y: scroll;
}

@keyframes bouquet-popup {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bouquet-popup-close {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.bouquet-popup__inner {
  width: 80%;
  padding: 30px;
  border-radius: 7px;
  background-color: #fff;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  animation: bouquet-popup 0.6s;
}

.bouquet-popup__inner_close {
  animation: bouquet-popup-close 0.6s;
}

.bouquet-popup__header {
  text-align: center;
  margin-bottom: 20px;
}

.bouquet-popup__title {
  font-family: "Merriweather";
  font-weight: 300;
  font-size: 24px;
}

.bouquet-popup__close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
  color: #59313b;
}

.bouquet-popup__close:hover {
  background-color: #efe4ea;
  border-radius: 3px;
}

.bouquet-popup__subtitle {
  font-family: "Tangerine", cursive;
  color: #59313b;
  font-size: 30px;
  line-height: 1;
}

.bouquet-popup__text {
  text-align: left;
  margin-top: 20px;
  display: none;
}

.bouquet-popup__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 20px;
}

.bouquet-popup__img-wrapper {
  width: calc(50% - 20px);
  max-width: 400px;
  min-width: 280px;
}

.bouquet-popup__img {
  width: 100%;
}

.bouquet-popup__aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 40px;
  font-size: calc(18px + 20 * (100vw / 1440));
}

.bouquet-popup__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.bouquet-popup__btn {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #59313b;
  font-size: 45px;
  padding: 0 10px;
  cursor: pointer;
}

.bouquet-popup__btn:first-of-type {
  padding-bottom: 5px;
}

.bouquet-popup__btn:hover {
  background-color: #efe4ea;
  border-radius: 3px;
}

.bouquet-popup__btn:disabled {
  opacity: 0.7;
  cursor: default;
}

.bouquet-popup__btn:disabled:hover {
  background-color: transparent;
}

.bouquet-popup__count {
  font-size: 18px;
  transition: 0.4s;
}

@media (max-width: 400px) {
  .bouquet-popup__inner {
    padding: 20px;
    width: 90%;
  }

  .bouquet-popup__close {
    top: 3px;
    right: 3px;
  }
}

@media (max-width: 380px) {
  .bouquet-popup__inner {
    width: 100%;
  }
}
