.bouquet-popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(197, 141, 145, 0.6);
  z-index: 100;
}

@keyframes bouquet-popup {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bouquet-popup-close {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.bouquet-popup__inner {
  max-width: 80%;
  margin: 20px;
  padding: 30px;
  border-radius: 7px;
  background-color: #fff;
  position: relative;
  animation: bouquet-popup 0.6s;
}

.bouquet-popup__inner_close {
  animation: bouquet-popup-close 0.6s;
}

.bouquet-popup__header {
  text-align: center;
  margin-bottom: 20px;
}

.bouquet-popup__title {
  font-family: "Merriweather";
  font-weight: 300;
  font-size: 24px;
}

.bouquet-popup__close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
  color: #59313b;
}

.bouquet-popup__close:hover {
  background-color: #efe4ea;
  border-radius: 3px;
}

.bouquet-popup__subtitle {
  font-family: "Tangerine", cursive;
  color: #59313b;
  font-size: 30px;
}

.bouquet-popup__content {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
}

.bouquet-popup__img {
  width: calc(50% - 20px);
  max-width: 400px;
}

.bouquet-popup__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 40px;
}

.bouquet-popup__btn {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #59313b;
  font-size: 45px;
  padding: 0 10px;
  cursor: pointer;
}

.bouquet-popup__btn:first-of-type {
  padding-bottom: 5px;
}

.bouquet-popup__btn:hover {
  background-color: #efe4ea;
  border-radius: 3px;
}

.bouquet-popup__btn:disabled {
  opacity: 0.7;
  cursor: default;
}

.bouquet-popup__btn:disabled:hover {
  background-color: transparent;
}

.bouquet-popup__span {
  font-size: 24px;
}

.bouquet-popup__count {
  font-size: 18px;
}
