.cards {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 15px;
  row-gap: 50px;
}

.cards_catalog {
  grid-template-columns: 300px 300px 300px;
  column-gap: 40px;
}

.cards__item {
  width: 300px;
  text-align: center;
  border-radius: 7px;
  /* display: grid;
  justify-items: center; */
  padding: 15px 15px 20px;
  background-color: #f1d7fa;
  transition: 0.6s all ease-in-out;
  cursor: pointer;
}

.cards__item:hover {
  box-shadow: 0 0 10px #dcc2e5;
}

.cards__item_catalog:hover {
  transform: translateY(-3px);
}

.cards__item_rotate {
  -moz-perspective: 150px;
  perspective: 500px;
  height: 475px;
  background: transparent;
  transition: 0.8s;
}

.cards__side {
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  transition: 0.8s all ease;
}

.cards__item_rotate:hover {
  box-shadow: none;
}

.cards__item_rotate:hover .cards__side_front {
  transform: rotateY(180deg);
}

.cards__item_rotate:hover .cards__side_back {
  transform: rotateY(0);
}

.cards__item:hover .cards__button {
  background-color: #f1d7fa;
  color: #59313b;
  box-shadow: 0 0 6px #59313b;
}

.cards__item:hover .cards__button_back {
  background-color: #59313b;
  color: #dcc2e5;
  box-shadow: none;
}

.cards__button_back:hover {
  background-color: #f1d7fa;
  color: #59313b;
  box-shadow: 0 0 6px #59313b;
}

.cards__side_front {
  height: 475px;
  padding: 10px 0 0;
  background-color: #f1d7fa;
}

.cards__side_back {
  height: 475px;
  padding: 30px 20px;
  background-image: linear-gradient(#f1d7fa, #efe4ea, #e8caf3);
  transform: rotateY(-180deg);
}

.cards__img {
  grid-row-start: 1;
  width: 100%;
  height: auto;
  border-radius: 7px;
  height: auto;
  display: block;
  margin-bottom: 15px;
}

.cards__img_rotate {
  border-radius: 0;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-bottom: 0;
}

.cards__title {
  /* font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
  color: #40393b; */
  margin-bottom: 5px;
  font-size: 36px;
  line-height: 60px;
  font-family: "Tangerine", cursive;
  color: #59313b;
}

.cards__button {
  display: block;
  background: #59313b;
  border-radius: 7px;
  font-size: 16px;
  padding: 10px 20px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: #ffffff;
  margin: 10px auto 0;
  transition: 0.4s all ease;
}

.card__price {
  font-family: "Merriweather";
  font-size: 18px;
  color: #59313b;
  margin-bottom: 20px;
}
