.container {
  max-width: 1440px;
  padding: 0 50px;
  margin: 0 auto;
}

.container__flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container__flex_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 124px;
}

.container__slider {
  padding: 0;
}
