.filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  margin-bottom: 40px;
}

.filters__wrapper {
  position: relative;
  z-index: 5;
}

.filters__wrapper:nth-child(2) {
  z-index: 10;
}

.filters__wrapper:nth-child(1) {
  z-index: 15;
}

.filters__wrapper::before {
  content: "";
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #59313b;
  border-left: 2px solid #59313b;
  position: absolute;
  top: 15px;
  transform: translateY(-55%) rotate(-45deg);
  right: 15px;
  cursor: pointer;
  pointer-events: none;
  z-index: 1;
}

.filters__wrapper_open::before {
  transform: rotate(-224deg);
}

.filters__select {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: left;
  background-color: #efe4ea;
  border: 1px solid #59313b;
  border-radius: 7px;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
  z-index: 0;
}

.filters__select_open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.filters__select:focus {
  box-shadow: 2px 2px 5px rgba(89, 49, 59, 0.226);
}

.filters__list-wrapper {
  width: 100%;
  height: 0;
  position: absolute;
  top: 37px;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: height 0.4s ease-in;
}

.filters__list-wrapper_open {
  height: 229.5px;
}

.filters__list {
  /* transform: translateY(-120%); */
}

.filters__list_open {
  transform: translateY(0);
  z-index: 100;
}

.filters__option {
  background-color: #efe4ea;
  padding: 5px 20px;
  border: 1px solid #59313b;
  border-top: none;
  cursor: pointer;
}

.filters__option:last-of-type {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.filters__option:hover {
  background-color: #602e66;
  color: #fff;
}

@media (max-width: 590px) {
  .filters {
    grid-template-columns: 190px;
    justify-content: center;
  }

  .filters__wrapper {
    margin-bottom: 20px;
  }
}
