.header {
  height: fit-content;
}

.header__icon {
  color: transparent;
}

.header__icon:hover {
  color: #9f6d88;
}

.header__tel {
  width: 25px;
  height: 25px;
  /* background: center / contain no-repeat url(./../img/phone-icon.svg); */
  color: #59313b;
  margin-right: 30px;
}

.header__card {
  width: 25px;
  height: 25px;
  /* background-image: url("../img/bag-icon.svg"); */
  /* background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent; */
  cursor: pointer;
  /* color: #59313b; */
}

.header__card:hover {
  color: #efe4ea;
}

.header__svg {
  width: 24px;
  height: 24px;
}
