.header {
  height: fit-content;
  position: relative;
}

.header__icons {
  display: flex;
  gap: 20px;
  color: transparent;
}

.header__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  color: #59313b;
  border-radius: 3px;
  cursor: pointer;
}

.header__icon:hover {
}

.header__tel {
}

.header__cart {
  color: transparent;
}

.header__icon:hover {
  background: #f7f4f5;
  color: #c693ae;
}

.header__svg {
  width: 24px;
  height: 24px;
}
