.menu__list {
  display: flex;
  gap: 24px;
  margin-left: auto;
  transition: 0.5s;
}

.menu__link {
  color: #40393b;
  font-family: "Merriweather";
  padding: 8px;
  border-radius: 15px;
  transition: 0.4s;
}

.menu__link:hover {
  color: #7d4956;
  background-color: #f1d7fa;
}

.menu__link_active {
  background-color: #f1d7fa;
  border: 1px solid #fff3fa;
}

@media (max-width: 970px) {
  .menu_header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
  }

  .menu__list_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(234, 219, 223, 0.9);
    padding: 100px 50px 50px;
    flex-direction: column;
    align-items: center;
    transform: translateX(150%);
    z-index: 150;
  }

  .menu__list_open {
    transform: translateX(0);
  }

  .menu__link_header {
    color: #59393b;
    font-size: 20px;
  }
}
