.section {
  padding: 40px 0;
  position: relative;
}

.section_active::before {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  top: -20px;
  right: 150px;
  background: center / contain no-repeat url(./../img/flower-icon.png);
  animation: flower-move 2s forwards linear 1s;
  opacity: 0;
  transition: 0.6s;
  z-index: 200;
}

@keyframes flower-move {
  0% {
    opacity: 0;
    top: 0;
    right: 150px;
  }
  10% {
    opacity: 0.3;
    top: 40px;
    right: 155px;
    transform: rotate(20deg);
  }
  20% {
    opacity: 0.6;
    top: 80px;
    right: 160px;
    transform: rotate(40deg);
  }
  30% {
    opacity: 0.9;
    top: 120px;
    right: 160px;
    transform: rotate(60deg);
  }
  40% {
    opacity: 1;
    top: 160px;
    right: 165px;
    transform: rotate(80deg);
  }
  50% {
    opacity: 1;
    top: 180px;
    right: 165px;
    transform: rotate(100deg);
  }
  60% {
    opacity: 1;
    top: 220px;
    right: 170px;
    transform: rotate(120deg);
  }
  70% {
    opacity: 0.9;
    top: 240px;
    right: 170px;
    transform: rotate(140deg);
  }
  80% {
    opacity: 0.6;
    top: 280px;
    right: 165px;
    transform: rotate(160deg);
  }
  90% {
    opacity: 0.3;
    top: 320px;
    right: 160px;
    transform: rotate(180deg);
  }
  100% {
    opacity: 0;
    top: 360px;
    right: 155px;
    transform: rotate(180deg);
  }
}

.section_subscribe {
  background-color: #e8caf3;
}

.section__ideas {
  background-color: #e8caf3;
}

.section__title {
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  font-size: calc(20px + 32 * (100vw / 1440));
  line-height: 1.5;
  color: #59313b;
  margin: 20px auto 30px;
}
