.start-screen {
  height: 350px;
  background-image: url("../img/start-screen-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.start-screen__title {
  font-size: 62px;
  margin: 0;
  animation-name: moveToRight;
  animation-duration: 2s;
}

.start-screen__text {
  padding: 100px 20px 20px;
  text-align: left;
}

.start-screen__subtitle {
  font-size: 36px;
  line-height: 60px;
  font-family: "Tangerine", cursive;
  color: #59313b;
  animation-name: moveToRight;
  animation-delay: 0.2s;
  animation-duration: 2s;
}

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
