@import "./header.css";
@import "./menu.css";
@import "./container.css";
@import "./section.css";
@import "./start-screen.css";
@import "./cards.css";
@import "./slider.css";
@import "./button.css";
@import "./footer.css";
@import "./logo.css";
@import "./filters.css";
@import "./bouquet-popup.css";
@import "./cart.css";
@import "./burger.css";
@import "./subscribe.css";
@import "./developer.css";
@import "./to-top.css";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  box-sizing: border-box;
  transition: 0.3s all ease;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #4b4b4b;
}
a:hover {
  color: #efe4ea;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #59313b;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  margin: 0 auto;
  color: #40393b;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  background-color: #efe4ea;
}

.block {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0 none;
  clip-path: inset(100%);
}

.look-more {
  height: 218px;
}

.look-more .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  width: 110px;
  display: flex;
  justify-content: space-between;
}

.social-link {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.instagram {
  background-image: url("../img/social/instagram.svg");
}

.facebook {
  background-image: url("../img/social/facebook.svg");
}

.pinterest {
  background-image: url("../img/social/pinterest.svg");
}

.social-link:hover {
  filter: invert(27%) sepia(8%) saturate(2328%) hue-rotate(294deg)
    brightness(101%) contrast(85%);
}
