.subscribe {
  width: 70%;
  min-width: 285px;
  padding: 40px;
  border: 1px solid #f0e5eb;
  border-radius: 15px;
  margin: 0 auto;
}

.subscribe__agree {
  font-size: 14px;
  color: #59313b;
  font-family: "Merriweather";
}

.subscribe__terms {
  font-family: "Tangerine", cursive;
  font-size: 28px;
  color: #59325f;
  cursor: pointer;
}

.subscribe__terms:hover {
  color: #59325f;
}

.subscribe__label {
  font-weight: normal;
  font-family: "Tangerine", cursive;
  font-size: 26px;
  color: #59313b;
}

.subscribe__input {
  width: 100%;
  padding: 10px 20px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  border-radius: 5px;
  background: #efe4ea;
}

.subscribe__input:focus {
  background-color: #f1f1f1;
  outline: none;
}

.subscribe__checkbox-wrapper {
  position: relative;
}

.subscribe__label_checkbox::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 3px;
  background-color: #f1f1f1;
  border: 1px solid #59313b;
  cursor: pointer;
}

.subscribe__label_checkbox {
  display: inline-flex;
  position: relative;
  padding-left: 20px;
}

.subscribe__checkbox {
  position: absolute;
  outline: none;
  clip: rect(0, 0, 0, 0);
}

.subscribe__checkbox:checked ~ .subscribe__label_checkbox::before {
  background: #fff center / contain no-repeat url(./../img/check-icon.svg);
}

.checkbox__state {
  display: flex;
  align-items: center;
  gap: 12px;
}

.checkbox__control {
  width: 14px;
  height: 14px;
  border: 1px solid #59313b;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
}

.checkbox__icon {
  opacity: 0;
  transition: opacity 0.4s;
}

.checkbox__input:checked + .checkbox__state .checkbox__control {
  background-color: #59313b;
}

.checkbox__input:checked + .checkbox__state .checkbox__icon {
  opacity: 1;
}

.subscribe__buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px 20px 20px;
}

.subscribe__button {
  width: 40%;
  min-width: 150px;
}

@media (max-width: 840px) {
  .subscribe {
    width: 90%;
    padding: 20px;
  }
}
